@inject Boxty.Services.Interfaces.ITableService tableService;
@model Boxty.Web.ViewModels.AddTableItemCommentInputModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<select id="tableList" onchange="initPosLineWaiter()">
    <option selected>Select table...</option>

</select>

<div id="tables">

</div>

<div class="row">
    <div class="col-md-5" id="productDiv">
        <div class="tab" id="categoriesTabs">

        </div>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <table class="table" id="posLine" style="width:100%">
                    <thead class="thead-dark" id='posLineRow'>
                        <tr>
                            <th scope="col">Timestamp</th>
                            <th scope="col">Product</th>
                            <th scope="col">Comment</th>
                            <th scope="col">Price</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <form id="commentForm">
                        <input type="hidden" id="itemIndexInput" value="">
                        <input type="hidden" id="tableIdInput" value="">
                        <div class="form-group">
                            <p>Write your comment here</p>
                            <input id="commentInput" asp-for="@Model.Comment" class="form-control" />
                            <span asp-validation-for="@Model.Comment" class="text-danger"></span>
                        </div>

                        <button onclick="addComment()" class="btn btn-success" data-dismiss="modal">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<label type="text">Total:</label>
<label type="text" id="total"></label>
<button onclick="sendItems()" class="btn btn-success">Send</button>
<button onclick="completeOrder()" class="btn btn-info">Complete Order</button>


@section Scripts{
    <script>
        $(document).ready(function () {
            initTablesList();
            loadCategories();
        });

        $(function () {
            $("td[colspan=3]").find("tr").hide();
            $("table").click(function (event) {
                event.stopPropagation();
                var $target = $(event.target);
                if ($target.closest("td").attr("colspan") > 1) {
                    $target.slideUp();
                } else {
                    $target.closest("tr").next().find("tr").slideToggle();
                }
            });
        });
    </script>
}
