@inject Boxty.Services.Interfaces.ITableService tableService;
@model Boxty.Web.ViewModels.AddTableCommentViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<select id="tableList" onchange="initPosLine()">
    <option selected>Select table...</option>

</select>

<div class="row">
    <div class="col-md-5">
        <div class="tab">
            <button class="tablinks" onclick="openCategory(event, 'nz')">nz</button>
            <button class="tablinks" onclick="openCategory(event, 'nz2')">nz2</button>
        </div>

        <div id="nz" class="tabcontent">
            <button type="button" class="btn btn-primary">chushki</button>
            <button type="button" class="btn btn-primary">domati</button>
            <button type="button" class="btn btn-primary">chushki s domati</button>
        </div>
        <div id="nz2" class="tabcontent">
            <button type="button" class="btn btn-primary">voda</button>
            <button type="button" class="btn btn-primary">sok</button>
            <button type="button" class="btn btn-primary">boza</button>
        </div>

        <table class="table" id="productLine" style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <table class="table" id="posLine" style="width:100%">
                    <thead class="thead-dark" id='posLineRow'>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Comment</th>
                            <th scope="col">Price</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <form id="commentForm">
                        <input type="hidden" id="itemIndexInput" value="">
                        <input type="hidden" id="tableIdInput" value="">
                        <div class="form-group">
                            <p>Write your comment here</p>
                            <input id="commentInput" asp-for="@Model.Comment" class="form-control" />
                            <span asp-validation-for="@Model.Comment" class="text-danger"></span>
                        </div>

                        <button onclick="addComment()" class="btn btn-success" data-dismiss="modal">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<button onclick="sendItems()" class="btn btn-info">Send</button>

@section Scripts{
    <script>

        $(document).ready(function () {
            initTablesList();
            initProductLine();
        });

        function showCommentBox(index) {
            $("#myModal").modal();
            document.getElementById("itemIndexInput").value = index;
            document.getElementById("tableIdInput").value = document.getElementById("tableList").value;
        }

        function addComment(id) {
            var tableId = document.getElementById("tableList").value;
            var index = Number(document.getElementById("itemIndexInput").value);
            var comment = document.getElementById("commentInput").value;

            var data = { "TableId": Number(tableId), "ItemIndex": Number(index), "Comment": comment };

            $.ajax({
                type: "POST",
                url: "/api/TableItem/Comment",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (data) {
                    initPosLinePendingItems();
                },

                failure: function (data) {
                    alert(data.responseText);
                },
                error: function (data) {
                    alert('Error ' + data.responsetext);
                }
            });
        }

        function openCategory(event, categoryName) {
            var i, tabcontent, tablinks;

            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            document.getElementById(categoryName).style.display = "block";
            event.currentTarget.className += " active";
        }

        function loadCategories() {

        }

        function sendItems() {
            var tableId = document.getElementById("tableList").value;

            console.log(tableId);

            $.ajax({
                type: "POST",
                url: "/api/TableItem/SendOrder?id=" + tableId,
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (data) {
                    initPosLine();
                    toastr.success('Insert POS line success for item: ' + productName, 'Success');
                },
                failure: function (xhr, status, error) {
                },
                error: function (xhr, status, thrownError) {
                    alert('Error ' + thrownError + " " + xhr.status);
                }

            })
        }

        function initTablesList() {
            $.ajax({
                type: "GET",
                url: "/api/Table",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#DIV").html('');
                    $.each(data, function (i, item) {
                        var rows = ""
                        if (item.available == true) {
                            rows = "<option style='color:green' value=" + item.id + ">" + item.id + "</option>"
                        }
                        else {
                            rows = "<option style='color:red' value=" + item.id + ">" + item.id + "</option>"
                        }
                        $('#tableList').append(rows);
                    });
                },

                failure: function (data) {
                    alert(data.responseText);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }

        function initProductLine() {
            $.ajax({
                type: "GET",
                url: "/api/Product",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#DIV").html('');
                    $.each(data, function (i, item) {
                        var rows = "<tr>" +
                            "<td id='name'>" + item.name + "</td>" +
                            "<td id='name'>" + item.price + "</td>" +
                            "<td><button onclick='posLineInsert(\"" + item.id + "\")'class='btn btn-info'>Select</button></td>"
                        "</tr>";
                        $('#productLine').append(rows);
                    });
                },

                failure: function (data) {
                    alert(data.responseText);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }

        function initPosLine() {
            var tableId = document.getElementById("tableList").value;

            $.ajax({
                type: "GET",
                url: "/api/TableItem/GetTableItems?tableId=" + tableId + "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $('#posLine > tr').slice(0).remove();
                    $.each(data, function (i, item) {
                        var name = 'sentItem';
                        var rows = "<tr name=\"" + name + "\">" +
                            "<td style='color:green 'id='name'>" + item.productName + "</td>" +
                            "<td>" + item.comment + "</td>" +
                            "<td>" + item.productPrice + "</td>" +
                            "<td>" + item.amount + "</td>" +
                            "<td>" + item.subtotal + "</td>" +
                            "</tr>";
                        $('#posLine').append(rows);
                    });
                    initPosLinePendingItems();
                },

                failure: function (data) {
                    alert(data.responseText);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }

        function initPosLinePendingItems() {
            var tableId = document.getElementById("tableList").value;

            $.ajax({
                type: "GET",
                url: "/api/TableItem/GetPendingItems?tableId=" + tableId + "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    $("[name=pendingItem]").remove();
                    $.each(data, function (i, item) {
                        var name = 'pendingItem';
                        var btnComment = '<button onclick="deleteLine(\'' + item.productId + '\')" class="btn btn-danger">DELETE</button>' + '<button type="button" onclick="showCommentBox(' + i + ')" class="btn btn-info">Comment</button>'
                        var rows = "<tr name=\"" + name + "\">" +
                            "<td style='color:Red 'id='name'>" + item.productName + "</td>" +
                            "<td>" + item.comment + "</td>" +
                            "<td>" + item.productPrice + "</td>" +
                            "<td>" + item.amount + "</td>" +
                            "<td>" + item.subtotal + "</td>" +
                            "<td>" + btnComment + "</td>"
                        "</tr>";
                        $('#posLine').append(rows);
                    });
                    console.log(data);
                }
            });
        }

        function posLineInsert(productId) {
            var tableId = document.getElementById("tableList").value;

            var product = { "ProductId": Number(productId), "TableId": Number(tableId) };

            $.ajax({
                type: "POST",
                url: "/api/TableItem",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(product),
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (data) {

                    initPosLinePendingItems();

                },
                failure: function (xhr, status, error) {
                },
                error: function (xhr, status, thrownError) {
                    alert('Error ' + thrownError + " " + xhr.status);
                }
            })
        }

        function deleteLine(productId) {
            var tableId = document.getElementById("tableList").value;

            var product = { "ProductId": Number(productId), "TableId": Number(tableId) };

            $.ajax({
                type: "DELETE",
                url: "/api/TableItem",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(product),
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (data) {

                    initPosLinePendingItems();

                },
                failure: function (xhr, status, error) {
                },
                error: function (xhr, status, thrownError) {
                    alert('Error ' + thrownError + " " + xhr.status);
                }
            })
        }
    </script>
}
