@inject Boxty.Services.Interfaces.ITableService tableService;

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<select id="tableList" onchange="initPosLine()">
    <option selected>Select role...</option>
    
</select>

<div class="row">
    <div class="col-md-5">
        <table class="table" id="productLine" style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <table class="table" id="posLine" style="width:100%">
                    <thead class="thead-dark" id='posLineRow'>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Product</th>
                            <th scope="col">Comment</th>
                            <th scope="col">Price</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Subtotal</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<button onclick="sendItems()" class="btn btn-info">Send</button>

@section Scripts{
    <script>

        $(document).ready(function () {
            initTablesList();
            initProductLine();
        });

        function sendItems() {
            var tableId = document.getElementById("tableList").value;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/api/TableItem?id=" + tableId,
                success: function (data) {
                    initPosLine();
                    toastr.success('Insert POS line success for item: ' + productName, 'Success');
                },
                failure: function (xhr, status, error) {
                },
                error: function (xhr, status, thrownError) {
                    alert('Error ' + thrownError + " " + xhr.status);
                }

            })
        }

        function initTablesList() {
            $.ajax({
                type: "GET",
                url: "/api/Table",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#DIV").html('');
                    $.each(data, function (i, item) {
                        var rows = ""
                        if (item.status == "available") {
                            rows = "<option style='color:green' value=" + item.id + ">" + item.id + "</option>"
                        }
                        else {
                            rows = "<option style='color:red' value=" + item.id + ">" + item.id + "</option>"
                        }
                        $('#tableList').append(rows);
                    });
                },

                failure: function (data) {
                    alert(data.responseText);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }

        function initProductLine() {
            $.ajax({
                type: "GET",
                url: "/api/Product",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#DIV").html('');
                    $.each(data, function (i, item) {
                        var rows = "<tr>" +
                            "<td id='id'>" + item.id + "</td>" +
                            "<td id='name'>" + item.name + "</td>" +
                            "<td id='name'>" + item.price + "</td>" +
                            "<td><button onclick='posLineInsert(\"" + item.id + "\")'class='btn btn-info'>Select</button></td>"
                        "</tr>";
                        $('#productLine').append(rows);
                    });
                },

                failure: function (data) {
                    alert(data.responseText);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }

        function initPosLine() {
            var tableId = document.getElementById("tableList").value;

            $.ajax({
                type: "GET",
                url: "/api/TableItem/GetTableItems?tableId=" + tableId + "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $('#posLine > tr').slice(0).remove();
                    $.each(data, function (i, item) {
                        var name = 'orderedItem';
                        var btnComment = '<button onclick="deleteLine(\'' + item.id + '\')" class="btn btn-danger">DELETE</button>';
                        var rows = "<tr name=\""+ name + "\">" +
                            "<td>" + item.product.id + "</td>" +
                            "<td style='color:green 'id='name'>" + item.product.name + "</td>" +
                            "<td>" + item.comment + "</td>" +
                            "<td>" + item.product.price + "</td>" +
                            "<td>" + item.amount + "</td>" +
                            "<td>" + item.subtotal + "</td>" +
                            "<td>" + btnComment + "</td>"
                        "</tr>";
                        $('#posLine').append(rows);
                    });
                    initPosLinePendingItems();
                },

                failure: function (data) {
                    alert(data.responseText);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }

        function initPosLinePendingItems() {
            var tableId = document.getElementById("tableList").value;

            $.ajax({
                type: "GET",
                url: "/api/TableItem/GetPendingItems?tableId=" + tableId + "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $('#posLine > tr').slice(0).remove();
                    $.each(data, function (i, item) {
                        var name = 'orderedItem';
                        var btnComment = '<button onclick="deleteLine(\'' + item.product.id + '\')" class="btn btn-danger">DELETE</button>';
                        var rows = "<tr name=\"" + name + "\">" +
                            "<td>" + item.product.id + "</td>" +
                            "<td style='color:Red 'id='name'>" + item.product.name + "</td>" +
                            "<td>" + item.comment + "</td>" +
                            "<td>" + item.product.price + "</td>" +
                            "<td>" + item.amount + "</td>" +
                            "<td>" + item.subtotal + "</td>" +
                            "<td>" + btnComment + "</td>"
                        "</tr>";
                        $('#posLine').append(rows);
                    });
                    console.log(data);
                }});
        }

        function posLineInsert(productId) {
            var tableId = document.getElementById("tableList").value;

            var product = { "ProductId": Number(productId), "TableId": Number(tableId) };

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/api/TableItem",
                data: JSON.stringify(product),
                success: function (data) {

                    initPosLinePendingItems();
                    
                },
                failure: function (xhr, status, error) {
                },
                error: function (xhr, status, thrownError) {
                    alert('Error ' + thrownError + " " + xhr.status);
                }
            })
        }

        function deleteLine(productId) {
            var tableId = document.getElementById("tableList").value;

            var product = { "ProductId": Number(productId), "TableId": Number(tableId) };

            $.ajax({
                type: "DELETE",
                contentType: "application/json; charset=utf-8",
                url: "/api/TableItem",
                data: JSON.stringify(product),
                success: function (data) {

                    initPosLinePendingItems();

                },
                failure: function (xhr, status, error) {
                },
                error: function (xhr, status, thrownError) {
                    alert('Error ' + thrownError + " " + xhr.status);
                }
            })
        }
    </script>
}
