@inject Boxty.Services.Interfaces.ITableService tableService;

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
    var tables = tableService.GetTables().Result;
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<select id="tableId" onchange="initPosLine()">
    <option selected>Select role...</option>
    @foreach (var table in tables)
    {
        <option value="@table.Id">@table.Id</option>
    }
    <option value="All">All</option>
</select>

<div class="row">
    <div class="col-md-5">
        <table class="table" id="productLine" style="width:100%">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Product</th>
                    <th scope="col"></th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label class="control-label">Comment</label>
            <input type="text" class="form-control" id="comment" />
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table" id="posLine" style="width:100%">
                    <thead class="thead-dark" id='posLineRow'>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Product</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Price</th>
                            <th scope="col">Comment</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<button onclick="sendItems()" class="btn btn-info">Send</button>

@section Scripts{
    <script>

        $(document).ready(function () {
            initProductLine();
        });

        function sendItems() {
            var f = document.getElementById("tableId");
            var tableId = f.selectedIndex + 1
            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/api/TableItem?id=" + tableId,
                data: tableId,
                success: function (data) {
                    initPosLine();
                    toastr.success('Insert POS line success for item: ' + productName, 'Success');
                },
                failure: function (xhr, status, error) {
                }, 
                error: function (xhr, status, thrownError) {
                    alert('Error ' + thrownError + " " + xhr.status);
                }

            })
        }


        function initProductLine() {
            $.ajax({
                type: "GET",
                url: "/api/Product",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $("#DIV").html('');
                    $.each(data, function (i, item) {
                        var button = "<button onclick='posLineInsert(" + item.id + ")'class='btn btn-info'>Select</button>"
                        var rows = "<tr>" +
                            "<td id='id'>" + item.id + "</td>" +
                            "<td id='name'>" + item.name + "</td>" +
                            '<td>' + button + '</td>'
                        "</tr>";
                        $('#productLine').append(rows);
                    }); 
                },

                failure: function (data) {
                    alert(data.responseText);
                }, 
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }

        function initPosLine() {
            var e = document.getElementById("tableId");
            var tableId = e.selectedIndex;
            $.ajax({
                type: "GET",
                url: "/api/TableItem/GetTableItems?tableId=" + tableId + "",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $('#posLine > tr').slice(0).remove();
                    $.each(data, function (i, item) {
                        var name = 'selectedProduct';
                        //if (item.status == 'sent') name ='sentProduct'
                        var btnDelete = '<button onclick="deleteLine(\'' + item.id + '\')" class="btn btn-danger">DELETE</button>';
                        var rows = "<tr name=\""+ name + "\">" +
                            "<td id='id'>" + item.productId + "</td>" +
                            "<td id='name'>" + item.productName + "</td>" +
                            "<td id='amount'>" + item.amount + "</td>" +
                            "<td id='price'>" + item.productPrice * item.amount + "</td>" +
                            "<td id='comment'>" + item.comment + "</td>" +
                            "<td>" + btnDelete + "</td>"
                        "</tr>";
                        $('#posLine').append(rows);
                    }); 
                    console.log(data);
                }, 

                failure: function (data) {
                    alert(data.responseText);
                }, 
                error: function (data) {
                    alert(data.responseText);
                }
            });

            return false;
        }

        function posLineInsert(productId) {
            var e = document.getElementById("tableId");
            var tableId = e.selectedIndex;

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "/api/TableItem",
                data: JSON.stringify({
                    'TableId': tableId,
                    'ProductId': productId,
                    'Comment': $("#comment").val()
                }),
                success: function (data) {
                    initPosLine();
                    toastr.success('Insert POS line success for item: ' + productName, 'Success');
                },
                failure: function (xhr, status, error) {
                },
                error: function (xhr, status, thrownError) {
                    alert('Error ' + thrownError + " " + xhr.status);
                }

            })
        }

        function deleteLine(productId) {
            $.ajax({
                type: "DELETE",
                contentType: "application/json; charset=utf-8",
                url: "/api/TableItem/DeleteSelectedItem?tableItemId=" + productId + "",
                success: function (data) {
                    initPosLine();
                    toastr.success('Insert POS line success for item: ' + productName, 'Success');
                },
                failure: function (xhr, status, error) {
                },
                error: function (xhr, status, thrownError) {
                    alert('Error ' + thrownError + " " + xhr.status);
                }

            })
        }
    </script>
}
