@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<h1>Order Items</h1>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Comment</th>
            <th>Created On</th>
            <th>Modified On</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>


@section Scripts{
    <script>
        $(document).ready(function () {
            initKitchenOrderItems();
        });
    </script>
}
