@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<h1>Order Items</h1>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Comment</th>
            <th>Created On</th>
            <th>Modified On</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>


@section Scripts{
    <script>

        $(document).ready(function () {
            initOrderItems();
        });

        function markAsDone(id) {
            $.ajax({
                type: "POST",
                url: "/api/OrderItem/MarkAsDone?orderItemId=" + id,
                contentType: "application/json; charset=utf-8",
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (data) {
                    initOrderItems();
                },
                failure: function (xhr, status, error) {

                },
                error: function (xhr, status, thrownError) {
                    alert('Error ' + thrownError + " " + xhr.status);
                }

            })
        }

        function initOrderItems() {
            $.ajax({
                type: "GET",
                url: "/api/OrderItem",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $('.table > tr').slice(0).remove();
                    $.each(data, function (i, item) {
                        var btnComment = '<button onclick="markAsDone(\'' + item.id + '\')" class="btn btn-success">Mark As Done</button>';
                        var rows = "<tr name='orderItem'>" +
                            "<td>" + item.product.name + "</td>" +
                            "<td>" + item.comment + "</td>" +
                            "<td>" + item.createdOn + "</td>" +
                            "<td>" + item.modifiedOn + "</td>" +
                            "<td>" + btnComment + "</td>"
                        "</tr>";
                        $('.table').append(rows);
                    });
                },
                failure: function (data) {
                    alert(data.responseText);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }

    </script>
}
