@model Boxty.ViewModels.OutputModels.UserOutputModel
@inject Microsoft.AspNetCore.Identity.UserManager<BoxtyUser> userManager
@{
    ViewData["Title"] = "Profile";
    var error = TempData[Boxty.Services.GlobalConstants.Error];
    var user = this.userManager.FindByNameAsync(this.User.Identity.Name).GetAwaiter().GetResult();
    var hasRole = this.userManager.GetRolesAsync(user).GetAwaiter().GetResult().Any(x => x == Boxty.Services.GlobalConstants.Admin);

}

<div class="row container col-md-12 mt-5 mb-5 ml-1">
    <div class=" col-md-4">

        <div class="panel panel-info w-100 border border-dark">
            <div class="panel-heading w-100 d-flex  justify-content-center">
                <h3 class="text-capitalize">User Details</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class=" col-md-12 col-lg-12">
                        <table class="table  border border-dark" style="background-color:deepskyblue">
                            <tbody>
                                <tr>
                                    <td>UserName:</td>
                                    <td>@Model.UserName</td>
                                </tr>
                                <tr>
                                    <td>Name:</td>
                                    <td>@string.Join(" ",Model.FirstName)</td>
                                </tr>
                                <tr>
                                    <td>Email:</td>
                                    <td>@Model.Email</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>