@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Driver Page";
    Layout = "_Layout";
}
<h1>Driver Page</h1>

<table class="table">
    
</table>


@section Scripts{
    <script>
        $(document).ready(function () {
            initDriverOrderItems();
        });
    </script>
}
