@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Driver Page";
    Layout = "_Layout";
}
<h1>Driver Page</h1>

<table class="table">
    
</table>


@section Scripts{
    <script>


        $(document).ready(function () {
            initOrderItems();
        });

        function openAccordion(orderId) {
            var button = document.getElementById("b" + orderId);
            var div = document.getElementById("d" + orderId);

            button.classList.toggle("active");

            var panel = div;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        }
        function markAsDone(id) {
            $.ajax({
                type: "POST",
                url: "/api/Driver/MarkAsDone?orderId=" + id,
                contentType: "application/json; charset=utf-8",
                headers: {
                    RequestVerificationToken:
                        $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (data) {
                    initOrderItems();
                },
                failure: function (xhr, status, error) {

                },
                error: function (xhr, status, thrownError) {
                    alert('Error ' + thrownError + " " + xhr.status);
                }

            })
        }

        function initOrderItems() {
            $.ajax({
                type: "GET",
                url: "/api/Driver",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $('.table > tr').slice(0).remove();
                    $.each(data, function (i, order) {
                        var button = "<button class='accordion' onclick='openAccordion("+order.id+")' id='b"+order.id+"'>" + "OrderId: " + order.id + ", Destination: " + order.destination + "</button>";
                        $('.table').append(button);
                        $('.table').append("<div class='panel' id='d"+order.id+"'>");
                        $.each(order.orderItems, function (j, orderItem) {
                            $("#d" + order.id).append('<ul class="w3-ul">')
                            var row = "<li>" + orderItem.product.name + ", Amount: " + orderItem.amount + "<li>";

                            $("#d" + order.id ).append(row);
                        })
                        $("#d" + order.id).append("</ul>");
                        $("#d" + order.id).append("</div>");
                        var btnDone = '<button onclick="markAsDone(' + order.id + ')" class="btn btn-success">Mark As Done</button>'
                        $("#d"+order.id).append(btnDone);
                    });

                },
                failure: function (data) {
                    alert(data.responseText);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });
        }

    </script>
}
