@model IEnumerable<Boxty.Web.ViewModels.OrderOutputModel>
<div class="row checkoutForm">
    <h2>Orders list</h2>
    <h4>Here are the orders in your shopping cart.</h4>
    <table class="table table-bordered table-striped">
         <thead>
             <tr>
                 <th>Order Id</th>
                 <th>Product Id</th>
                 <th>Product Name</th>
                 <th>Comment</th>
                 <th class="text-right">Order placed at:</th>
                 <th>Actions</th>
             </tr>
         </thead>
    </table>
</div>

@section Scripts
{
    <script>
        $(function () {
            setInterval(loadOrders, 60000);  // invoke load every 60 seconds
            loadOrders(); // load on initial page loaded
        });

        function loadOrders() {
            $.ajax({
                type: "GET",
                url: "/api/Order",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $('#posLine > tr').slice(0).remove();
                    $.each(data, function (i, item) {
                        var rows = "<tr>" +
                            "<td>" + item.id + "</td>" +
                            "<td>" + item.product.Id + "</td>" +
                            "<td>" + item.productName + "</td>" +
                            '<td>' + item.CreatedOn + '</td>' +
                            '<td>' + item.Comment + '</td>' +
                            '<td><button type="button" onclick="markAsDone(' +  item.id + ')" class="btn btn-success">Done</button></td>'
                        "</tr>";
                        $('#shoppingCart').append(rows);
                    });
                },

                failure: function (data) {
                    alert(data.responseText);
                },
                error: function (data) {
                    alert('Error ' + thrownError + " " + xhr.status);
                }
            })
        }

        function markAsDone(orderItemId) { // TODO!
            $.ajax({
                type: "POST",
                url: "/api/order",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    loadOrders();
                },

                failure: function (data) {
                    alert(data.responseText);
                },
                error: function (data) {
                    alert('Error ' + thrownError + " " + xhr.status);
                }
            })
        }

    </script>
} 