@{
    ViewData["Title"] = "Contacts";
}
<h1>@ViewData["Title"]</h1>
<div style="overflow:hidden;width: 700px;position: relative;">
    <iframe width="700" height="440" src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=20-21%2C%20Temple%20Bar%2C%20Dublin%202%2C%20D02%20ET66%2C%20Ireland+(Title)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 2px;background: #fff;">Powered by <a href="https://embedgooglemaps.com/de/">Embedgooglemaps.com/de/</a> & <a href="https://youtubeembedcodegenerator.com/en/">youtubeembedcodegenerator.com</a></small></div>
    <style>
        #gmap_canvas img {
            max-width: none !important;
            background: none !important
        }
    </style>
</div>
<br />
