@{
    ViewData["Title"] = "Home Page";
}

<div data-packed="true" class="txtNew" id="comp-juvafeuw" style="width: 458px; pointer-events: none;">
    <p class="font_8"><span style="color:#400601;"><span style="font-weight:bold;"><span style="font-size:35px;"><span style="font-family:amatic sc,cursive;">THE BOXTY</span></span></span></span></p>

    <p class="font_8">
        <br>
        <span style="font-family:open sans,sans-serif;">
            Only here will you find the original and authentic Boxty wrap.<br>
            We serve the 3 types of Boxty found in the border counties of Leitrim, Cavan and Fermanagh.
        </span>
    </p>

    <p class="font_8"><span style="font-family:open sans,sans-serif;"><span style="color:#400601;"><span class="wixGuard">&#8203;</span></span></span></p>

    <p class="font_8"><span style="font-family:open sans,sans-serif;"><span style="color:#400601;">Beginning in 1988, Pádraic Óg Gallagher perfected the Leitrim Pan Boxty, A light Boxty Pancake served with a variety of fillings. Through the years, Pádraic Óg and his Chefs developed a range of Boxty which are served in a variety of ways at the Boxty House to showcase the best of Irish Produce.</span></span></p>

    <p class="font_8"><span class="wixGuard">&#8203;</span></p>
</div>

<div data-packed="true" class="txtNew" id="comp-juvaglst" style="width: 458px; pointer-events: none;">
    <p class="font_8">
        <span style="color:#400601;">
            <span style="font-weight:bold;"><span style="font-size:25px;"><span style="font-family:amatic sc,cursive;">BOILED</span></span></span><br>
            <span style="font-style:italic;"><span style="font-family:open sans,sans-serif;">Grated raw potato, cooked mash and flour, kneaded into dumplings, simmered for 12 minutes, chilled and sauteed in a little butter. Served with a sauce of your choice.</span></span>
        </span>
    </p>

    <p class="font_8"><span style="color:#400601;"><span style="font-family:open sans,sans-serif;"><span class="wixGuard">&#8203;</span></span></span></p>

    <p class="font_8">
        <span style="color:#400601;">
            <span style="font-weight:bold;"><span style="font-family:amatic sc,cursive;"><span style="font-size:25px;">BAKED</span></span></span><br>
            <span style="font-style:italic;"><span style="font-family:open sans,sans-serif;">Grated raw potato, cooked mash and flour, kneaded with pure Irish butter and lovingly baked in the oven. Delicious!</span></span>
        </span>
    </p>

    <p class="font_8"><span style="color:#400601;"><span style="font-family:open sans,sans-serif;"><span class="wixGuard">&#8203;</span></span></span></p>

    <p class="font_8">
        <span style="color:#400601;">
            <span style="font-size:25px;"><span style="font-family:amatic sc,cursive;"><span style="font-weight:bold;">PANCAKE</span></span></span><br>
            <span style="font-style:italic;"><span style="font-family:open sans,sans-serif;">Grated Raw Potato mixed with a little flour, Water, Salt and Pepper to make a Batter which is slow cooked on our Boxty Griddle until Golden Brown</span></span>
        </span>
    </p>

    <p class="font_8"><span style="color:#400601;"><span style="font-style:italic;"><span style="font-family:open sans,sans-serif;"><span class="wixGuard">&#8203;</span></span></span></span></p>

    <p class="font_8" style="line-height:1.5em;"><span style="color:#400601;"><span style="font-size:25px;"><span style="font-family:amatic sc,cursive;"><span style="font-weight:bold;">BOXTY FRIES</span></span></span></span></p>

    <p class="font_8"><span style="color:#400601;"><span style="font-style:italic;"><span style="font-family:open sans,sans-serif;">Our most recent addition, stripes of Boxty Pancakes, lightly fried until Light and Crisp. Delicious with one of our Jack Smyth Craft Beers.</span></span></span></p>
</div>


